pageTitle="Foundation For Mobile"
doctype5
html(lang="en")
   head
      title=pageTitle
      link(rel="stylesheet", href="css/foundation.css")
      script(src="js/vendor/modernizr.js")
   body
      div.row
         div.large-12.columns
            h1 Welcome to my Template

      div.row
         div.large-12.columns
            div.panel
               h3 This is a test
               p. This is only a test. If this were a real website, we'd all be in trouble.